<section class="mt-32 relative" *ngIf="currencyImage">
  <div class="w-full">
    <shared-btn-return />
    <div class="mb-4">
      <shared-alert-float [msg]="alertMsg" />
    </div>
    <!-- Imagen principal con controles -->
    <div class="relative">
      <img
        [src]="currencyImage.sourceUrl"
        class="w-full max-h-[80vh] object-contain transition-all duration-300 cursor-pointer"
        loading="lazy"
        (click)="viewOverlay(currencyImage.sourceUrl)"
        alt="ims"
        appProtectImage
        onkeypress=""
      />

      <!-- Botón Anterior -->
      <button
        (click)="hasPreviousPage() && prevImage()"
        [ngClass]="{
          'hover:brightness-95 opacity-100' : hasPreviousPage(),
          'opacity-20 cursor-default' : !hasPreviousPage()
        }"
        class="absolute top-1/2 left-2 transform bg-white/70  -translate-y-1/2 p-2 rounded-full shadow-md"
        aria-label="Anterior"
      >
        <svg class="w-6 h-6 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>

      <!-- Botón Siguiente -->
      <button
        (click)="hasNextPage() && nextImage()"
        [ngClass]="{
          'hover:brightness-95 opacity-100' : hasNextPage(),
          'opacity-20 cursor-default' : !hasNextPage()
        }"
        class="absolute top-1/2 right-2 transform bg-white/70 -translate-y-1/2  p-2 rounded-full shadow-md"
        aria-label="Siguiente"
      >
        <svg class="w-6 h-6 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </button>

      <!-- Detalles -->
      <div class="mt-6 p-4 bg-black-100 rounded-lg">
        <h2 class="text-2xl md:text-3xl font-primary-bold">{{ currencyImage.name }}</h2>
        <p class="mt-2 text-lg">{{ currencyImage.description }}</p>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 text-sm mt-4">
          <div><span class="font-primary-bold mr-2">Lugar:</span> {{ currencyImage.site }}</div>
          <div><span class="font-primary-bold mr-2">Fecha:</span> {{ currencyImage.date }}</div>
          <div><span class="font-primary-bold mr-2">Categoría:</span> {{ currencyImage.category || 'N/A' }}</div>
          <div><span class="font-primary-bold mr-2">Autor:</span> {{ currencyImage.autor }}</div>
          <div><span class="font-primary-bold mr-2">Descargable:</span> {{ currencyImage.downloadable ? 'Sí' : 'No' }}</div>
          <div><span class="font-primary-bold mr-2">A la venta:</span> {{ currencyImage.forSale ? 'Sí' : 'No' }}</div>
        </div>

        <!-- Acciones -->
        @if (currencyImage.downloadable || currencyImage.forSale) {
          <div class="mt-12 flex flex-wrap justify-center md:justify-end gap-4">
            @if (currencyImage.downloadable) {
              <button type="button" (click)="downloadImage(currencyImage.sourceUrl, currencyImage.name)" class="btn__outline-primary">
                Descargar
              </button>
            }

            @if (currencyImage.forSale) {
              @if(currencyImage.product) {
                <button class="btn__primary"(click)="goToSell(currencyImage.product[0].ID)">
                  Comprar
                </button>
              }
            }
          </div>
        }
      </div>
    </div>

  </div>
</section>

<shared-image-overlay [img]="currencyUrlImage()" (setImageEmpty)="currencyUrlImage.set('')" />
