<section class="mt-12 w-full">
  <p class="text-5xl mb-6 font-primary-bold text-center break-words">
    Reconocimientos Destacados
  </p>

  <div class="wrap-reconocimientos mb-12">
    <div class="p-5 mb-4 bg-black-100 rounded-lg">
      <time class="text-2xl md:text-3xl font-secondary-bold text-primary">Nacionales</time>
      <ol class="mt-3 divide-y divide-gray-200 dark:divide-gray-700">
        <li class="items-center block p-3 sm:flex">
          <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0" src="https://logowik.com/content/uploads/images/tv-azteca5717.jpg" alt="empresa"/>
          <div class="item-container mb-2">
              <div class="text-base font-normal">
                <p class="font-primary-medium text-xl mb-2">
                  Premio del Jurado, «El México de los Mexicanos III
                  <time class="leading-none text-primary-50">2024</time>
                </p>
              </div>
              <div class="font-normal">
                Ensayo fotográfico El Venado Yoreme: Cultura, Arte y Naturaleza; una imagen incluida en el libro conmemorativo de los 140 años de Citibanamex.
              </div>
          </div>
        </li>
        <li class="items-center block p-3 sm:flex">
          <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0" src="https://logowik.com/content/uploads/images/tv-azteca5717.jpg" alt="empresa"/>
          <div class="item-container my-2">
              <div class="text-base font-normal">
                <p class="font-primary-medium text-xl mb-2">
                  Galardón «Gala de la Tierra
                  <time class="leading-none text-primary-50">2023</time>
                </p>
              </div>
              <div class="font-normal">
                Fundación Azteca, por la serie de la Cueva de los Murciélagos.
              </div>
          </div>
        </li>
        <li class="items-center block p-3 sm:flex">
          <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0" src="https://logowik.com/content/uploads/images/tv-azteca5717.jpg" alt="empresa"/>
          <div class="item-container my-2">
              <div class="text-base font-normal">
                <p class="font-primary-medium text-xl mb-2">
                  Premio del Público, 5.º Reto Nacional de Fotografía de Naturaleza
                  <time class="leading-none text-primary-50">Abril 2023</time>
                </p>
              </div>
              <div class="font-normal">
              </div>
          </div>
        </li>
        <li class="items-center block p-3 sm:flex">
          <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0" src="https://logowik.com/content/uploads/images/tv-azteca5717.jpg" alt="empresa"/>
          <div class="item-container my-2">
              <div class="text-base font-normal">
                <p class="font-primary-medium text-xl mb-2">
                  Reconocimiento especial, Murci‑Semana
                  <time class="leading-none text-primary-50">2020</time>
                </p>
              </div>
              <div class="font-normal">
                Por el time‑lapse «Cueva de los Murciélagos».
              </div>
          </div>
        </li>
      </ol>
    </div>

    <div class="p-5 mb-4 bg-black-100 rounded-lg">
      <time class="text-2xl md:text-3xl font-secondary-bold text-primary">Internacionales</time>
      <ol class="mt-3 divide-y divide-gray-200 dark:divide-gray-700">
        <li class="items-center block p-3 sm:flex">
          <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0" src="https://logowik.com/content/uploads/images/tv-azteca5717.jpg" alt="empresa"/>
          <div class="item-container mb-2">
              <div class="text-base font-normal">
                <p class="font-primary-medium text-xl mb-2">
                  Premio del Jurado, «El México de los Mexicanos III
                  <time class="leading-none text-primary-50">2024</time>
                </p>
              </div>
              <div class="font-normal">
                Ensayo fotográfico El Venado Yoreme: Cultura, Arte y Naturaleza; una imagen incluida en el libro conmemorativo de los 140 años de Citibanamex.
              </div>
          </div>
        </li>
        <li class="items-center block p-3 sm:flex">
          <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0" src="https://logowik.com/content/uploads/images/tv-azteca5717.jpg" alt="empresa"/>
          <div class="item-container my-2">
              <div class="text-base font-normal">
                <p class="font-primary-medium text-xl mb-2">
                  Galardón «Gala de la Tierra
                  <time class="leading-none text-primary-50">2023</time>
                </p>
              </div>
              <div class="font-normal">
                Fundación Azteca, por la serie de la Cueva de los Murciélagos.
              </div>
          </div>
        </li>
        <li class="items-center block p-3 sm:flex">
          <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0" src="https://logowik.com/content/uploads/images/tv-azteca5717.jpg" alt="empresa"/>
          <div class="item-container my-2">
              <div class="text-base font-normal">
                <p class="font-primary-medium text-xl mb-2">
                  Premio del Público, 5.º Reto Nacional de Fotografía de Naturaleza
                  <time class="leading-none text-primary-50">Abril 2023</time>
                </p>
              </div>
              <div class="font-normal">
              </div>
          </div>
        </li>
        <li class="items-center block p-3 sm:flex">
          <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0" src="https://logowik.com/content/uploads/images/tv-azteca5717.jpg" alt="empresa"/>
          <div class="item-container my-2">
              <div class="text-base font-normal">
                <p class="font-primary-medium text-xl mb-2">
                  Reconocimiento especial, Murci‑Semana
                  <time class="leading-none text-primary-50">2020</time>
                </p>
              </div>
              <div class="font-normal">
                Por el time‑lapse «Cueva de los Murciélagos».
              </div>
          </div>
        </li>
      </ol>
    </div>
  </div>

  <p class="text-5xl mb-6 font-primary-bold text-center">
    Publicaciones Destacadas
  </p>

  <div class="w-full p-6 mb-8 bg-black-100 rounded-lg shadow-sm">
    <ol class="relative border-s border-grays-100  pl-2">
      <!-- @for (item of dataDummy; track $index; ; let last = $last) { -->
        <li class="mb-10 ms-6">
            <span class="absolute flex items-center justify-center w-8 h-8 -left-4 bg-primary rounded-full -start-4 ring-8 ring-transparent">
              <div class="w-4 h-4 text-white" [innerHTML]="svgCalendar"></div>
            </span>
            <h3 class="flex items-center mb-1 text-lg md:text-xl font-primary-bold ">
              2024
              <!-- @if(last) {
                <span class="bg-primary-50 text-primary-300 text-xs font-secondary-regular me-2 px-2 py-1.5 rounded-lg dark:bg-blue-900 dark:text-blue-300 ms-3">Último</span>
              } -->
            </h3>
            <p class="mb-2 text-2xl font-primary-regular">Cronología de diez años de arte y naturaleza en Sinaloa</p>
            <p class="mb-4">
              Libro digital de 213 páginas que reúne, en orden cronológico, el trabajo visual y narrativo de 2014 a 2024. Publicado por Ágata Libros. ISBN: 978‑607‑59896‑7‑9.
            </p>
            <button class="inline-flex items-center  btn__primary">
              Leer / descargar (PDF)
            </button>
        </li>
        <li class="mb-10 ms-6">
            <span class="absolute flex items-center justify-center w-8 h-8 -left-4 bg-primary rounded-full -start-4 ring-8 ring-transparent">
              <div class="w-4 h-4 text-white" [innerHTML]="svgCalendar"></div>
            </span>
            <h3 class="flex items-center mb-1 text-lg md:text-xl font-primary-bold ">
              2023-2024
              <!-- @if(last) {
                <span class="bg-primary-50 text-primary-300 text-xs font-secondary-regular me-2 px-2 py-1.5 rounded-lg dark:bg-blue-900 dark:text-blue-300 ms-3">Último</span>
              } -->
            </h3>
            <p class="mb-2 text-2xl font-primary-regular">El Venado Yoreme: Cultura, Arte y Naturaleza</p>
            <p class="mb-4">
              Ensayo fotográfico premiado con el Premio del Jurado en “El México de los Mexicanos III”. Serie e investigación biocultural que entrelaza ritual, paisaje y biodiversidad.
            </p>
            <button class="inline-flex items-center  btn__primary">
              Leer / descargar (PDF)
            </button>
        </li>
        <li class="mb-10 ms-6">
            <span class="absolute flex items-center justify-center w-8 h-8 -left-4 bg-primary rounded-full -start-4 ring-8 ring-transparent">
              <div class="w-4 h-4 text-white" [innerHTML]="svgCalendar"></div>
            </span>
            <h3 class="flex items-center mb-1 text-lg md:text-xl font-primary-bold ">
              2024
              <!-- @if(last) {
                <span class="bg-primary-50 text-primary-300 text-xs font-secondary-regular me-2 px-2 py-1.5 rounded-lg dark:bg-blue-900 dark:text-blue-300 ms-3">Último</span>
              } -->
            </h3>
            <p class="mb-2 text-2xl font-primary-regular">México de los Mexicanos III</p>
            <p class="mb-4">
              Inclusión de la fotografía «Murciélagos II» en el libro conmemorativo de los 140 años de Citibanamex y en la exposición derivada del certamen.
            </p>
            <button class="inline-flex items-center  btn__primary">
              Ver publicación
            </button>
        </li>
      <!-- } -->
    </ol>
  </div>

  <p class="text-5xl mb-6 font-primary-bold text-center">
    Cobertura en Medios
  </p>

  <div class="w-full p-6 mb-8 bg-black-100 rounded-lg shadow-sm">
    <ol class="divide-y divide-gray-200 dark:divide-gray-700">
      <li class="item p-4 mb-4">
        <span class="bg-primary-50 text-primary-500 text-xs font-secondary-regular px-2 py-1.5 rounded-lg mb-4 inline-block">20 julio 2025</span>
        <div class="flex flex-col md:flex-row md:items-center md:justify-between">
          <div>
            <p class="font-primary-bold text-xl mb-2">
              YouTube – Astillero Informa · Animatic / estreno
            </p>
            <p class="mb-4">
              Presentación del animatic del videoclip «Cura» con Eden Dusk & Yax Balam.
            </p>
          </div>
          <button class="btn__primary--white">
            Ver
          </button>
        </div>
      </li>
      <li class="item p-4 my-4">
        <span class="bg-primary-50 text-primary-500 text-xs font-secondary-regular px-2 py-1.5 rounded-lg mb-4 inline-block">20 julio 2025</span>
        <div class="flex flex-col md:flex-row md:items-center md:justify-between">
          <div>
            <p class="font-primary-bold text-xl mb-2">
              YouTube – Astillero Informa · Animatic / estreno
            </p>
            <p class="mb-4">
              Presentación del animatic del videoclip «Cura» con Eden Dusk & Yax Balam.
            </p>
          </div>
          <button class="btn__primary--white">
            Ver
          </button>
        </div>
      </li>
    </ol>

  </div>



</section>
