<nav
  [ngClass]="isScrolled ? 'md:bg-black/80 md:dark:bg-black/80' : 'md:bg-transparent md:dark:bg-transparent'"
  class="fixed bg-black dark:bg-black w-full z-20 top-0 start-0 border-b border-white dark:border-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img class="hidden md:block w-16 align-bottom" [src]="urlImageMain" alt="logo eden-dusk" />
      <img class="block md:hidden w-16 align-bottom" [src]="urlimageWhite" alt="logo eden-dusk" />
    </a>

    <div class="flex md:order-2 space-x-3 md:space-x-2 rtl:space-x-reverse">
      <button
        type="button"
        class="hidden transition-all duration-300 md:block text-white border border-white hover:text-white  hover:bg-primary-200 hover:border-primary-100 focus:ring-1 focus:outline-none focus:ring-secondary font-medium rounded-lg text-sm px-5 py-3 text-center">
        Donaciones
      </button>

      <button
        type="button"
        data-drawer-target="drawer-cart-eden" data-drawer-show="drawer-cart-eden" data-drawer-placement="right" aria-controls="drawer-cart-eden"
        class="text-sage-100 border border-transparent hover:bg-black hover:text-sage-200 hover:border-sage-100 focus:ring-2 focus:outline-none  font-medium transition-all duration-300 rounded-lg text-sm p-2.5 md:p-3 text-center inline-flex items-center">
          <div [innerHTML]="svgBag" class="text-sage-100"></div>
      </button>

      <!-- Botón Toggle -->
      <button (click)="toggleNavbar()" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-sage-100 border border-transparent rounded-lg md:hidden
            hover:bg-transparent hover:text-sage-200 hover:border-sage-200 focus:outline-none focus:ring-0">
        <span class="sr-only">Open main menu</span>
          <div [innerHTML]="svgMenu"></div>
      </button>
    </div>

    <!-- Menú de Navegación -->
    <div [ngClass]="{ 'hidden': !isNavbarOpen, 'block': isNavbarOpen }"
    class="items-center justify-between w-full md:flex md:w-auto md:order-1" id="navbar">
      <header-menu [isNavbarOpen]="isNavbarOpen" [itemsMenu]="itemsMenu" (clickItemMenu)="toggleNavbar()" />
    </div>

  </div>
</nav>

<!-- drawer component -->
<shared-drawer-cart />


