<nav
  [ngClass]="isScrolled ? 'md:bg-black/80 md:dark:bg-black/80' : 'md:bg-transparent md:dark:bg-transparent'"
  class="fixed bg-black dark:bg-black w-full z-20 top-0 start-0 border-b border-white dark:border-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img class="w-16 align-bottom" [src]="urlImageMain" alt="logo eden-dusk" />
    </a>


    <div class="flex md:order-2 space-x-3 md:space-x-2 rtl:space-x-reverse">
      <button type="button" class="hidden transition-all duration-300 md:block text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-1 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center   dark:border-primary dark:text-primary dark:hover:text-white dark:hover:bg-primary-200 dark:focus:ring-yellow-900">
        Donaciones
      </button>

      <button
        type="button"
        data-drawer-target="drawer-cart-eden" data-drawer-show="drawer-cart-eden" data-drawer-placement="right" aria-controls="drawer-cart-eden"
        class="text-sage-100 border border-transparent hover:bg-black hover:text-sage-200 hover:border-sage-100 focus:ring-2 focus:outline-none  font-medium transition-all duration-300 rounded-lg text-sm p-2.5 text-center inline-flex items-center
        dark:border-transparent dark:text-sage-100 dark:hover:text-sage-200 dark:hover:bg-black">
        <svg class="w-5 h-5 text-sage-100 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M14 7h-4v3a1 1 0 0 1-2 0V7H6a1 1 0 0 0-.997.923l-.917 11.924A2 2 0 0 0 6.08 22h11.84a2 2 0 0 0 1.994-2.153l-.917-11.924A1 1 0 0 0 18 7h-2v3a1 1 0 1 1-2 0V7Zm-2-3a2 2 0 0 0-2 2v1H8V6a4 4 0 0 1 8 0v1h-2V6a2 2 0 0 0-2-2Z" clip-rule="evenodd"/>
        </svg>
      </button>

      <!-- Botón Toggle -->
      <button (click)="toggleNavbar()" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-sage-100 border border-transparent rounded-lg md:hidden
            hover:bg-transparent hover:text-sage-200 hover:border-sage-200 focus:outline-none focus:ring-0  dark:text-sage-100
            dark:hover:bg-transparent dark:hover:text-sage-200 dark:hover:border-sage-200">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>

    <!-- Menú de Navegación -->
    <div [ngClass]="{ 'hidden': !isNavbarOpen, 'block': isNavbarOpen }"
    class="items-center justify-between w-full md:flex md:w-auto md:order-1" id="navbar">
      <header-menu [isNavbarOpen]="isNavbarOpen" [itemsMenu]="itemsMenu" />
    </div>

  </div>
</nav>

<!-- drawer component -->
<shared-drawer-cart />


