<section class="w-full lg:h-full grid grid-cols-1 md:justify-items-center">
  <div class="w-full lg:max-w-lg border border-gray-200 bg-sage-100/30 dark:bg-gray-700/30 dark:border-gray-700 text-sage-100 py-24 px-6 sm:px-12">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl sm:text-4xl font-primary-bold mb-4 text-primary">
        ¡Suscríbete al Newsletter!
      </h2>
      <p class="text-lg mb-8 text-black dark:text-sage-100">
        Sé el primero en recibir noticias, novedades y contenido exclusivo.
      </p>

      <form class="flex flex-col sm:flex-row lg:flex-col items-center gap-4">
        <input
          type="email"
          placeholder="Ingresa tu correo electrónico"
          class="w-full sm:w-auto lg:w-full flex-1 px-4 py-3 rounded-md bg-sage-200 text-gray-500 dark:bg-black-100 dark:text-sage-100 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-sage-100 dark:focus:ring-primary"
          required
        />
        <button
          type="submit"
          class="bg-primary hover:bg-primary-200 text-black font-semibold px-6 py-3 rounded-md transition-colors duration-300"
        >
          Suscribirme
        </button>
      </form>
    </div>
  </div>
</section>
