<section class="w-full lg:h-full grid grid-cols-1 md:justify-items-center">
  <div class="w-full lg:max-w-lg border border-gray-200 bg-white dark:bg-black/50 dark:border-gray-700 text-sage-100 py-24 px-6 sm:px-12">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl sm:text-4xl font-secondary-bold mb-4 text-primary">
        ¡Suscríbete al Newsletter!
      </h2>
      <p class="text-lg mb-8 text-black dark:text-sage-100">
        Sé el primero en recibir noticias, novedades y contenido exclusivo.
      </p>

      <shared-newsletter />

    </div>
  </div>
</section>
