<section class="section__eventos w-full">
  <div class="wrap__transmisiones grid grid-cols-1 md:justify-items-center rounded">
    <!-- próximas -->
    <div class="w-full  p-4 rounded-lg shadow-sm sm:p-8 mb-4 bg-black-100">
      <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none">Próximas transmisiones</h5>
        <a [routerLink]="['/transmisiones']" routerLinkActive="router-link-active"  class="text-sm font-medium text-primary hover:text-primary-500">
          Ver todas
        </a>
      </div>
      <div class="flow-root">
        @if(proximoEventos().length) {
          <shared-transmisiones-list [eventos]="proximoEventos()" [tiempoEvento]="'proximo'" />
        }@else {
          <shared-no-data [type]="'transmision'"  [msg]="msg" />
        }
      </div>
    </div>


    <!-- últimas -->
    <div class="w-full  p-4 rounded-lg shadow-sm sm:p-8 bg-black-100">
      <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none">Últimas transmisiones</h5>
        <a [routerLink]="['/transmisiones']" class="text-sm font-medium text-primary hover:text-primary-500">
          Ver todas
        </a>
      </div>
      <div class="flow-root">
        @if(eventosPasados().length) {
          <shared-transmisiones-list [eventos]="eventosPasados()" [tiempoEvento]="'pasado'" />
        } @else {
          <shared-no-data [type]="'transmision'" [msg]="msg" />
        }
      </div>
    </div>
  </div>
</section>
