<li class="mb-10 ms-8">
  <span class="absolute flex items-center justify-center flex-col w-10 h-10 bg-sage-100/30 -start-5 ring-4 ring-transparent dark:ring-transparent dark:bg-gray-700/30">
      <span class="text-xl font-primary-bold dark:text-slate-100"> {{ fechaEvento.getDate() }} </span>
      <span class="text-xs dark:text-sage-100"> {{ fechaEvento | diaSemana }} </span>
  </span>
  <div class="w-full lg:w-10/12  p-4 rounded-lg" [ngStyle]="{'background-color': evento().color}">
    <p class="font-primary-bold text-black text-xl leading-tight mb-1"> {{ evento().title }} </p>
    <p class="mb-1"> {{ evento().description }} </p>
    <p class="text-sm">Horario de transmisión:</p>
    <div class="flex justify-start items-center gap-x-4 gap-y-1 flex-wrap font-primary-medium mb-2">
      <span class="block w-full md:w-auto"> {{ evento() | timezones: 'centro' }} </span>
      <span class="hidden md:inline-block"> / </span>
      <span class="block w-full md:w-auto"> {{ evento() | timezones:'pacifico' }} </span>
    </div>
    <p class="text-sm">Plataforma por donde podrás seguir la transmisión: <span class="font-primary-medium text-base text-stone-800"> {{ evento().platform | titlecase }} </span> </p>


    <div class="col__actions w-full flex justify-start items-center gap-5 flex-col md:w-full md:flex-row mt-4">
      <button
        type="button"
        (click)="viewInfoEvent(evento())"
        class="w-full md:w-auto border text-black border-black hover:text-black hover:border-gray-200 hover:bg-primary focus:ring-1 focus:outline-none focus:ring-primary-100 font-medium rounded-lg text-sm px-5 py-3 text-center cursor-pointer transition-colors dark:text-sage-100 dark:border-sage-100 dark:hover:text-black dark:hover:border-black-100 duration-300">
        Ver detalles de la transmisión
      </button>
      <button
        type="button"
        class="w-full md:w-auto border text-black border-black hover:text-black hover:border-gray-200 hover:bg-primary focus:ring-1 focus:outline-none focus:ring-primary-100 font-medium rounded-lg text-sm px-5 py-3 text-center cursor-pointer transition-colors dark:text-sage-100 dark:border-sage-100 dark:hover:text-black dark:hover:border-black-100 duration-300">
        Unirme ahora
      </button>
    </div>
  </div>
</li>
