<section class="main__section relative">
  <div class="w-full h-[78px] mb-8"></div>
  <shared-btn-return />

  <!-- GRID SLIDE Y DATA DEL PRODUCTO -->
  <div class="w-full grid grid-cols-1 sm:grid-cols-1  lg:grid-cols-2 gap-8 mb-8">
    <productos-slide-images-product />
    <div>
      <productos-actions-product
        [catalogSizes] = "sizeCatalog()"
        [catalogMaterial] = 'materialCatalog()'
      />
    </div>
  </div>

  <!-- INFO DEL PRODUCTO -->
  <div class="w-full mb-8">
    <products-info-product />
  </div>

  <!-- COMENTARIOS Y AGREAR COMENTARIO -->

  <div class="wrap__comentarios">

    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
      <ul class="flex flex-wrap -mb-px">
        <li class="me-2">
          <a (click)="selectTab('leer')"
            [ngClass]="{
              'text-black font-bold border-black dark:text-white dark:border-white': selectedTab === 'leer',
              ' cursor-pointer border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300': selectedTab !== 'leer'
            }"
            class="inline-block p-4 border-b-2">
            Leer comentarios
          </a>
        </li>
        <li class="me-2">
          <a (click)="selectTab('agregar')"
            [ngClass]="{
              'text-black font-bold border-black dark:text-white dark:border-white': selectedTab === 'agregar',
              'cursor-pointer border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300': selectedTab !== 'agregar'
            }"
            class="inline-block p-4 border-b-2">
            Agregar comentario
          </a>
        </li>
      </ul>
    </div>

    <div class="my-4 px-4">
      @if (selectedTab === 'leer') {
        <div class="flex gap-1 items-center justify-end my-2 text-gray-500 dark:text-gray-200 font-primary-medium">
          <div class="w-4 h-4 flex" [innerHTML]="svgComment()"></div>
          <span class="text-sm"> {{ product().comments?.length }} {{ product().comments?.length| i18nPlural: commentsMap }} </span>
        </div>
        <blog-comentarios [comments]="product().comments" />
      } @else {
        <blog-agregar-comentario [idPost]="product().id" (changeTab)="onChangeTab($event)" />
      }
    </div>

  </div>

</section>
