<section class="w-full lg:h-full grid grid-cols-1 md:justify-items-center mb-8">
  <div class="max-w-3xl mx-auto text-center">
    <p class="text-xl sm:text-2xl font-secondary-bold mb-4 text-primary">
      ¡Suscríbete a nuestro blog!
    </p>
    <p class="mb-4 text-start">
      Sé el primero en recibir noticias, novedades y contenido exclusivo.
    </p>

    <form>
      <div class="flex">
        <div class="relative w-full">
          <input
            type="search"
            class="block p-3 w-full z-20 rounded-e-md rounded-s-gray-100 rounded-s-2 rounded-l-md bg-gray-50 text-black dark:bg-black-100 dark:text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-white dark:focus:ring-primary"
            placeholder="Ingresa tu correo electrónico" required />
          <button type="submit" class="absolute rounded-none rounded-e-md top-0 end-0 p-3 h-full btn__primary--black">
            Suscribirme
          </button>
        </div>
      </div>
    </form>

  </div>
</section>
