<section class="w-full lg:h-full grid grid-cols-1 md:justify-items-center mb-8">
  <div class="max-w-3xl mx-auto text-center">
    <p class="text-xl sm:text-2xl font-secondary-bold mb-4 text-primary">
      ¡Suscríbete a nuestro blog!
    </p>
    <p class="mb-4 text-start">
      Sé el primero en recibir noticias, novedades y contenido exclusivo.
    </p>

    <form class="flex flex-col md:flex-row items-center gap-4 md:gap-2">
      <input
        type="email"
        placeholder="Ingresa tu correo electrónico"
        class="w-full sm:w-auto lg:w-full flex-1 px-4 py-3 rounded-md bg-primary-50 text-primary-300 dark:bg-black-100 dark:text-sage-100 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-sage-100 dark:focus:ring-primary"
        required
      />
      <button
        type="submit"
        class="btn__primary"
      >
        Suscribirme
      </button>
    </form>
  </div>
</section>
