<section class="section__whois rounded  bg-center bg-cover bg-no-repeat bg-[url('https://raw.githubusercontent.com/ChristianShumway/eden-dusk/refs/heads/master/src/assets/images/fotos/_NEL3202-min.jpg')] bg-gray-600 bg-blend-multiply">

  <div class="py-12 px-4 mx-auto max-w-screen-xl text-center lg:py-40 lg:px-8">

    <div class="wrap__info relative">
      <blockquote class="text-xl md:text-2xl text-sage-100 font-secondary-light italic mb-6 relative z-10">
        <b>Proyecto artístico-cultural</b> originado en Sinaloa, México, cuya
        misión va más allá de capturar imágenes bonitas o producir videos llamativos
        abordando temas de identidad, medio ambiente, activismo social y cultura originaria de manera más
        profunda y profesional.
      </blockquote>

      <p class="mb-16 text-sage-100  text-xl font-primary-regular tracking-tight leading-none relative z-10">
        - Eden Dusk
      </p>

      <div [innerHTML]="svgSemiColons" class="text-primary/60 w-64 h-64 semicolons__bg absolute"></div>
    </div>

    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
      <button type="button" href="#" class="inline-flex justify-center items-center  text-grays-200 hover:text-white  border-grays-200 hover:border-primary-50 hover:bg-primary-200 focus:ring-1 focus:outline-none focus:ring-primary-100 dark:hover:text-black">
        Conoce un poco más
        <div class="w-4 h-4 ms-2 flex" [innerHTML]="svgArrow"></div>
      </button>
    </div>
  </div>
</section>


