<section class="section__whois rounded-lg shadow-sm border border-gray-200 bg-gray-100  hover:bg-gray-200 dark:border-gray-800 dark:bg-gray-700 dark:hover:bg-gray-600">
<!-- <section class="section__whois  bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply"> -->

  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">

    <div class="wrap__info relative">
      <blockquote class="text-2xl    mb-4 relative z-10">
        <b>Proyecto artístico-cultural</b> originado en Sinaloa, México, cuya
        misión va más allá de capturar imágenes bonitas o producir videos llamativos
        abordando temas de identidad, medio ambiente, activismo social y cultura originaria de manera más
        profunda y profesional.
      </blockquote>

      <p class="mb-8 text-xl font-extrabold tracking-tight leading-none relative z-10 dark:text-white">
        Eden Dusk
      </p>

      <svg xmlns="http://www.w3.org/2000/svg"
        class="text-primary/80 w-48 h-48 semicolons__bg absolute"
        viewBox="0 0 42 32.667" fill="currentColor">
        <path d="M0 32.667V22.96c0-2.756.53-5.572 1.588-8.447A37.234 37.234 0 0 1 5.78 6.38C7.515 3.834 9.397 1.707 11.426 0l8.295 4.988a44.746 44.746 0 0 0-4.06 8.267c-1.029 2.876-1.543 6.081-1.543 9.616v9.796H0Zm22.28 0V22.96c0-2.756.529-5.572 1.588-8.447s2.455-5.587 4.19-8.133C29.795 3.834 31.677 1.707 33.707 0L42 4.988a44.746 44.746 0 0 0-4.059 8.267c-1.03 2.876-1.544 6.081-1.544 9.616v9.796H22.279Z">
        </path>
      </svg>
    </div>

      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
          <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Conoce un poco más
              <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </a>
          <a href="#" class="py-3 px-5 sm:ms-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
              Learn more
          </a>
      </div>
  </div>
</section>


