<div id="accordion-collapse" data-accordion="collapse" class="dropdown-wrapper mt-4">
  <div id="accordion-collapse-heading-filters" class="flex justify-end">
    <button
      type="button"
      class="flex border-0 items-center justify-end p-5 font-primary-medium rtl:text-right bg-transparent text-gray-500 focus:ring-0 dark:bg-transparent dark:text-gray-400 gap-4"
      data-accordion-target="#accordion-collapse-body-filters"
      aria-expanded="true"
      aria-controls="accordion-collapse-body-filters">
      <div class="flex gap-1">
        <div class="w-5 h-5" [innerHTML]="svgFilters()"></div>
        <span>Filtros</span>
      </div>
      <div  [innerHTML]="svgArrow()"></div>
    </button>
  </div>

  <!-- CONTENEDOR ACORDION -->
  <div id="accordion-collapse-body-filters" class="hidden" aria-labelledby="accordion-collapse-heading-filters">
    <div class="p-5">

      <!-- WRAP FORMULARIO BUSQUEDA -->
      <form [formGroup]="myForm">
        <div class="flex items-center mb-6">
          <label for="simple-search" class="sr-only">Search</label>
          <div class="relative w-full">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <div class="w-4 h-4" [innerHTML]="svgSearch()"></div>
            </div>
            <input
              type="text"
              formControlName="search"
              class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-black-100 focus:border-black-100 block w-full ps-10 p-3  dark:bg-black-100 dark:border-black dark:placeholder-gray-400 dark:text-white dark:focus:ring-white dark:focus:border-white"
              placeholder="Buscar..."
            />
          </div>
        </div>
        <!-- WRAP BOTONES FILTROS -->
        <div class="wrap__items grid justify-start items-center grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-4">

          <!-- button categorías -->
          <button
            (click)="toggleDropdown(1)"
            id="dropdownRadioBgHoverButtonCategories"
            type="button"
            data-dropdown-toggle="dropdownRadioBgHoverCategories"
            class="w-full btn__primary--black flex items-center justify-center">
            Categorías
            <div class="w-3.5 h-3.5 ms-3 flex rotate-90" [innerHTML]="svgAngle()"></div>
          </button>

          <!-- Dropdown menu categorías -->
          <div
            #dropCat
            id="dropdownRadioBgHoverCategories"
            [class.hidden]="!isDropdownOpenCat"
            class="z-10 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-black-100 dark:divide-gray-600"
          >
            <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioBgHoverButtonCategories" >
            @for (category of categories(); track $index) {
                <li>
                  <div class="flex items-center p-2 rounded-sm hover:bg-primary">
                    <input
                      [id]="'radio-' + category.name"
                      type="radio"
                      [value]="category.name"
                      name="category"
                      formControlName="category"
                      (change)="onSelectCategory(category, 1)"
                      class="w-4 h-4 text-black bg-gray-100 border-gray-300 focus:ring-gray-500 dark:focus:ring-gray-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-0 dark:bg-black-100 dark:border-gray-500">
                    <label
                      [for]="'radio-' + category.name"
                      class="w-full ms-2 text-sm font-medium text-gray-900 rounded-sm dark:text-gray-300"
                    >
                      {{ category.name }}
                    </label>
                  </div>
                </li>
              }
            </ul>
          </div>

          <!-- button subcategorías -->
          <button
            (click)="toggleDropdown(2)"
            type="button"
            id="dropdownRadioBgHoverButtonSubCategories"
            data-dropdown-toggle="dropdownRadioBgHoverSubCategories"
            class="w-full btn__primary--black flex items-center justify-center">
            Subcategorías
            <div class="w-3.5 h-3.5 ms-3 flex rotate-90" [innerHTML]="svgAngle()"></div>
          </button>

          <!-- Dropdown menu subcategorías -->
          <div
            #dropSubcat
            id="dropdownRadioBgHoverSubCategories"
            [class.hidden]="!isDropdownOpenSubcat"
            class="z-10 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-black-100 dark:divide-gray-600">
            @if(currencySubcategories().length) {
              <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioBgHoverButtonSubCategories" >
                @for (subcategory of currencySubcategories(); track $index) {
                  <li>
                    <div class="flex items-center p-2 rounded-sm hover:bg-primary">
                      <input
                        [id]="'radio-sub-' + subcategory.name"
                        type="radio"
                        name="subcategory"
                        [value]="subcategory.name"
                        formControlName="subcategory"
                        (change)="onSelectSubCategory(subcategory, 2)"
                        class="w-4 h-4 text-black bg-gray-100 border-gray-300 focus:ring-gray-500 dark:focus:ring-gray-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-0 dark:bg-black-100 dark:border-gray-500">
                      <label
                        [for]="'radio-sub-' + subcategory.name"
                        class="w-full ms-2 text-sm font-medium text-gray-900 rounded-sm dark:text-gray-300"
                      >
                        {{ subcategory.name }}
                      </label>
                    </div>
                  </li>
                }
              </ul>
            } @else {
              <div class="p-3 space-y-1 text-sm font-primary-medium text-center text-gray-400 dark:text-gray-200" aria-labelledby="dropdownRadioBgHoverButtonSubCategories">
                Sin Subcategorías
              </div>
            }
          </div>

          <!-- button fecha -->
          <button
            (click)="toggleDropdown(3)"
            type="button"
            id="dropdownBgHoverButtonDate"
            data-dropdown-toggle="dropdownBgHoverDate"
            class="btn__primary--black flex items-center justify-center">
            Fecha
            <div class="w-3.5 h-3.5 ms-3 flex rotate-90" [innerHTML]="svgAngle()"></div>
          </button>

          <!-- Dropdown menu fecha -->
          <div
            #dropDate
            id="dropdownBgHoverDate"
            [class.hidden]="!isDropdownOpenDate"
            class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-black-100 dark:divide-gray-600">
            <div class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownBgHoverButtonDate">
              <input
                type="date"
                id="fecha"
                name="date"
                formControlName="date"
                class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg dark:bg-black-100 dark:text-gray-200 focus:ring-black focus:border-black block w-full p-2.5"
                (change)="onDateChange($event, 3)"
              />
            </div>
          </div>

          <!-- button colaboradores -->
          <button
            (click)="toggleDropdown(4)"
            type="button"
            id="dropdownRadioBgHoverButtonCollaboratos"
            data-dropdown-toggle="dropdownRadioBgHoverCollaborators"
            class="btn__primary--black flex items-center justify-center">
            Colaboradores
            <div class="w-3.5 h-3.5 ms-3 flex rotate-90" [innerHTML]="svgAngle()"></div>
          </button>

          <!-- Dropdown menu colaboradores -->
          <div
            #dropCollaborators
            id="dropdownRadioBgHoverCollaborators"
            [class.hidden]="!isDropdownOpenCollaborators"
            class="z-10 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-black-100 dark:divide-gray-600"
          >
            <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioBgHoverButtonCollaborators" >
            @for (collaborator of collaborators(); track $index) {
                <li>
                  <div class="flex items-center p-2 rounded-sm  bg-primary">
                    <input
                      [id]="'radio-' + collaborator.name"
                      type="radio"
                      name="collaborator"
                      [value]="collaborator.id"
                      formControlName="collaborator"
                      (change)="onSelectCollaborator(collaborator, 1)"
                      class="w-4 h-4 text-black bg-gray-100 border-gray-300 focus:ring-gray-500 dark:focus:ring-gray-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-0 dark:bg-black-100 dark:border-gray-500">
                    <label
                      [for]="'radio-' + collaborator.name"
                      class="w-full ms-2 text-sm font-medium text-gray-900 rounded-sm dark:text-gray-300"
                    >
                      {{ collaborator.name }}
                    </label>
                  </div>
                </li>
              }
            </ul>
          </div>

        </div>
      </form>

      <!-- WRAP BOTONES DELETE FILTROS -->
      <gallery-limpiar-filtros [currencyFilters]="currencyFilters()" (valueFilter)="cleanFilter($event)" />

    </div>
  </div>


</div>

