<p class="text-xl md:text-2xl font-secondary-bold uppercase mb-4">
  Editores
</p>

<div class="grid__authors grid gap-4">
  @for (author of authors(); track $index) {
    <div class="wrap__author flex items-center justify-between gap-2 mb-2">
      <img class="w-10 h-10 rounded-full" [src]="author.image" [alt]="author.name" (error)="onImgError($event)" />
      <div>
        <p class="text-sm font-secondary-medium"> {{ author.name }}  </p>
        <p class="text-xs text-gray-500 dark:text-gray-400"> {{ author.description }}  </p>
      </div>
      <a [href]="author.socialMedia" target="_blank" type="button" class="font-secondary-medium border rounded-lg text-sm px-5 text-center  cursor-pointer transition-colors duration-500 btn__outline--black py-2"> Seguir </a>
    </div>
  }
</div>
