<section class="my-32 w-full ">
  <div class="text-center w-full md:w-3/4 md:mx-auto mb-8">
    <p class="font-primary-bold text-5xl md:text-6xl lg:text-7xl mb-2">
      Hablemos
    </p>
    <p class="font-primary-regular text-xl">
      ¿Tienes una idea, una propuesta de colaboración o una consulta sobre nuestros servicios? Nos encantaría escucharte.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 p-4 md:p-8 bg-black-100 rounded shadow">
    <contacto-form />
    <contacto-info />
  </div>
</section>
