<section class="section__portfolio w-full my-8 md:my-16">
  <div class="portfolio__cards grid grid-cols-1">
    <div class="wrap__info flex flex-col justify-between items-center md:items-start md:gap-8 lg:gap-0 bg-primary-50 dark:bg-black px-2 md:px-4 py-6">
      <img class="w-24 align-bottom mb-4 md:mb-0" [src]="logoUrl" alt="logo eden-dusk" />
      <div class="info__footer text-sage-100 md:w-full md:flex md:items-center md:justify-between lg:flex-col lg:gap-8 lg:items-start">
        <p class="mb-4 md:mb-0 text-3xl md:text-4xl font-primary-bold text-black dark:text-primary text-center md:text-start">
          Trabajos recientes
          <span class="block text-base md:text-lg lg:text-xl font-secondary-light text-black dark:text-sage-100">
            (proyectos, expediciones, colaboraciones, etc).
          </span>
        </p>
        <button type="button" class="flex md:inline-flex justify-center items-center text-base font-medium text-black rounded-lg bg-primary hover:bg-primary-200 focus:ring-2 focus:ring-secondary">
          Ver todos los proyectos
          <div class="w-3.5 h-3.5 ms-2 flex rtl:rotate-180" [innerHTML]="svgArrow()"></div>
        </button>
      </div>

    </div>
    <div class="wrap__cards grid grid-cols-1 md:grid-cols-3">
      @for (item of itemsPortfolio; track $index) {
        <div
        class="card__portfolio w-full p-4 relative overflow-hidden cursor-pointer dark:bg-gray-80">
          <div class="item__imagebg bg-cover bg-no-repeat bg-center absolute top-0 right-0 bottom-0 left-0" [style.background-image]="item.url | backgroundImage"></div>
          <span class="absolute bottom-6 right-6 text-white font-primary-thin text-2xl"> {{ item.text }} </span>
        </div>
      }
    </div>


  </div>

</section>

