<section class="w-full">
  <div class="grid gap-4">

    @if(imgTempGallery()) {
      <div class="wrap__selection grid gap-4 grid-cols-1">
        <div class="mx-auto cursor-pointer" (click)="onPreview(imgTempGallery())" onkeypress>
          <img class="h-auto max-w-full rounded-lg" [src]="imgTempGallery()"  alt="producto" />
        </div>
      </div>
    }

    <div class="wrap__slide relative w-full overflow-hidden">
      <button
        (click)="!isAtStart && scrollLeft()"
        type="button"
        [ngClass]="{
          'opacity-50 cursor-none': isAtStart,
          'bg-primary hover:bg-primary-200': !isAtStart
        }"
        class="absolute left-2 top-1/2 border-0 -translate-y-1/2 rotate-180 z-10 text-white focus:ring-0 focus:outline-none rounded-full p-2.5  inline-flex items-center me-2 dark:bg-white dark:hover:bg-gray-200">
        <div class="w-4 h-4 flex text-white dark:text-black" [innerHTML]="svgArrow"></div>
      </button>

      <!-- Contenedor scrollable -->
      <div
        #scrollContainer
        class="flex overflow-x-auto scroll-smooth space-x-4 scrollbar-hide px-1"
        style="scroll-behavior: smooth; max-width: 100vw;"
      >
        @for (item of images(); track $index) {
          <div class="flex-shrink-0 w-36" (click)="selectItem(item)" onkeypress>
            <img
              [ngClass]="{
                'border-2 border-yellow-500': imgTempGallery() === item,
                'border': imgTempGallery() !== item,
              }"
              class="w-36 h-36 object-cover rounded-lg cursor-pointer  border-1 hover:border-white"
              [src]="item"
              alt="foto"
            />
          </div>
        }
      </div>

      <button
        (click)="!isAtEnd && scrollRight()"
        type="button"
        [ngClass]="{
          'opacity-50 cursor-none': isAtEnd,
          'bg-primary hover:bg-primary-200': !isAtEnd
        }"
        class="absolute border-none right-2 top-1/2 -translate-y-1/2 z-10 text-white focus:ring-0 focus:outline-none rounded-full p-2.5  inline-flex items-center me-2 dark:bg-white dark:hover:bg-gray-200">
        <div class="w-4 h-4 flex text-white dark:text-black" [innerHTML]="svgArrow"></div>
      </button>
    </div>

  </div>
</section>

<shared-image-overlay [img]="currencyUrlImage()" (setImageEmpty)="currencyUrlImage.set('')" />

