<section class="section__novedades w-full my-8 md:my-16">
  <div class="grid grid__eventsblog grid-cols-1 gap-6 md:gap-16">
    <!-- entradas blog -->
    <div class="wrap__blog">

      <div class="wrap__info relative mb-16 md:mb-32 text-center">
        <p class="text-5xl font-primary-bold mb-4">Información e Inspiración</p>
        <blockquote class="text-xl md:text-xl  mb-6 relative z-10">
          Crónicas, ideas y miradas que conectan arte, cultura y naturaleza.
        </blockquote>
        <div class="col__actions w-full flex justify-center items-center gap-5 flex-col md:w-full md:flex-row">
          <button type="button" [routerLink]="['/blog']" class="w-full md:w-auto btn__primary">Ver blog completo</button>
        </div>
      </div>

      @if(articlesList().length) {
        <div
          class="wrap__articles flex flex-wrap items-center gap-y-6 mb-8"
          [ngClass]="{
            'justify-start gap-x-6': articlesList().length  === 2 || articlesList().length  === 5 || articlesList().length  === 8,
            'justify-between': articlesList().length  !== 2 && articlesList().length  !== 5 && articlesList().length  !== 4
          }"
        >
          <div class="w-full md:w-[48%] lg:w-[32%] rounded-lg bg-gray-50 dark:bg-transparent" *ngFor="let article of articlesList()"
          >
            <div class="bg-black-100 rounded-lg p-4">
              <novedades-card-articulo [article]="article" />
            </div>
          </div>
        </div>
      }@else {
        <shared-no-data [type]="'articulo'" [msg]="'No hay artículos en el blog'" />
      }
    </div>
  </div>
</section>

