<section class="section__novedades w-full my-8 md:my-16">
  <div class="grid grid__eventsblog grid-cols-1 gap-6 md:gap-16">
    <!-- entradas blog -->
    <div class="wrap__blog">
        <div class="border border-gray-200 rounded-lg shadow-sm bg-sage-100/20 dark:bg-black/50 dark:border-gray-700 px-2 py-8 md:px-4 mb-6">
          <div class="text-2xl md:text-3xl lg:text-4xl text-black dark:text-sage-100 mb-4 md:mb-6 font-primary-bold text-center md:text-start flex items-end justify-center md:justify-start uppercase">
            <div [innerHTML]="svgArrow" class="w-8 h-8 text-primary lg:w-12 lg:h-12 hidden md:flex md:mr-4"></div>
            Últimos post
          </div>
          <p class="text-base md:text-lg  text-black dark:text-sage-100 mb-4 md:mb-6 text-center md:text-start">
            Mantente al día con nuestras entradas en nuestro blog.
          </p>

          <div class="col__actions w-full flex justify-start items-center gap-5 flex-col md:w-full md:flex-row">
            <button type="button" class="w-full md:w-auto text-black border-black hover:text-white hover:border-primary-50 hover:bg-primary-200 focus:ring-1 focus:outline-none focus:ring-primary-100 dark:text-sage-100 dark:border-sage-100 dark:hover:text-black">Ver blog completo</button>
          </div>
        </div>

        <div class="grid grid__blog grid-cols-1 lg:grid-cols-2 gap-4">

          <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-max hover:bg-primary-50 dark:border-gray-700 dark:bg-black dark:hover:bg-gray-700">
            <img class="object-cover w-full h-full rounded-t-lg md:w-48 md:rounded-none md:rounded-s-lg" src="https://raw.githubusercontent.com/ChristianShumway/eden-dusk/refs/heads/master/src/assets/images/fotos/_NEL2618-min.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
          </a>

          <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-max hover:bg-primary-50 dark:border-gray-700 dark:bg-black dark:hover:bg-gray-700">
            <img class="object-cover w-full h-full rounded-t-lg md:w-48 md:rounded-none md:rounded-s-lg" src="https://raw.githubusercontent.com/ChristianShumway/eden-dusk/refs/heads/master/src/assets/images/fotos/_NEL2618-min.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
          </a>

          <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-max hover:bg-primary-50 dark:border-gray-700 dark:bg-black dark:hover:bg-gray-700">
            <img class="object-cover w-full h-full rounded-t-lg md:w-48 md:rounded-none md:rounded-s-lg" src="https://raw.githubusercontent.com/ChristianShumway/eden-dusk/refs/heads/master/src/assets/images/fotos/_NEL2618-min.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
          </a>

          <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-max hover:bg-primary-50 dark:border-gray-700 dark:bg-black dark:hover:bg-gray-700">
            <img class="object-cover w-full h-full rounded-t-lg md:w-48 md:rounded-none md:rounded-s-lg" src="https://raw.githubusercontent.com/ChristianShumway/eden-dusk/refs/heads/master/src/assets/images/fotos/_NEL2618-min.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
          </a>

        </div>
    </div>
  </div>
</section>

