<div class="fixed top-5 right-5 z-50 space-y-2">
  @for (toast of toasts; track $index) {
    <div
      [ngSwitch]="toast.type"
      class="flex items-center w-full max-w-sm p-4 rounded-lg shadow-sm dark:bg-gray-600"
      [ngClass]="{
        'bg-green-100': toast.type === 'success',
        'bg-orange-100': toast.type === 'warning',
        'bg-red-100': toast.type === 'danger',
        'bg-blue-100': toast.type === 'info'
      }"
      role="alert"
    >
      <div
        [ngClass]="{
          'text-green-500': toast.type === 'success',
          'text-orange-500': toast.type === 'warning',
          'text-red-500': toast.type === 'danger',
          'text-blue-500': toast.type === 'info'
        }"
        class="inline-flex items-center bg-none justify-center shrink-0 w-8 h-8 rounded-lg"
      >
        @if (toast.type === 'success') {
          <div class="w-6 h-6 flex" [innerHTML]="svgSuccess()"></div>
        } @else if ((toast.type === 'warning')) {
          <div class="w-6 h-6 flex" [innerHTML]="svgWarning()"></div>
        } @else if (toast.type === 'danger') {
          <div class="w-6 h-6 flex" [innerHTML]="svgError()"></div>
        }  @else if (toast.type === 'info') {
          <div class="w-6 h-6 flex" [innerHTML]="svgInfo()"></div>
        }
      </div>
      <div
        class="ms-3 text-sm font-primary-thin"
        [ngClass]="{
          'text-green-950': toast.type === 'success',
          'text-orange-950': toast.type === 'warning',
          'text-red-950': toast.type === 'danger',
          'text-blue-950': toast.type === 'info'
        }"
      > {{ toast.message }} </div>
    </div>
  }
</div>


