<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
  <ul class="flex flex-wrap -mb-px">
    <li class="me-2">
      <a (click)="selectTab('detalles')"
        [ngClass]="{
          'text-black font-bold border-black dark:text-white dark:border-white': selectedTab === 'detalles',
          ' cursor-pointer border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300': selectedTab !== 'detalles'
        }"
        class="inline-block p-4 border-b-2">
        Detalles del Producto
      </a>
    </li>
    <li class="me-2">
      <a (click)="selectTab('envio')"
        [ngClass]="{
          'text-black font-bold border-black dark:text-white dark:border-white': selectedTab === 'envio',
          'cursor-pointer border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300': selectedTab !== 'envio'
        }"
        class="inline-block p-4 border-b-2">
        Pedidos y Envíos
      </a>
    </li>
  </ul>
</div>

<div class="my-4 px-4">
  @if (selectedTab === 'detalles') {
    <div class="p-4 rounded-lg bg-gray-50 dark:bg-black/50">
      <div [innerHTML]="detailProduct()"></div>
    </div>
  } @else {
    <div class="p-4 rounded-lg bg-gray-50 dark:bg-black/50">
      <div [innerHTML]="detailDelivery()"></div>
    </div>
  }
</div>
