<section class="main__transmisiones">
  <div class="wrapper__bg w-auto h-screen flex flex-col items-start justify-end gap-8 md:gap-4 pb-8">
    <div class="bg__layout h-screen bg-cover bg-no-repeat bg-center relative" [style.background-image]="urlImageBackground | backgroundImage"></div>

    <div class="col__info  w-full md:w-9/12 lg:w-6/12">
      <p class="text-sage-100 font-primary-thin text-2xl md:text-3xl lg:text-4xl">
        <b class="font-primary-bold bg-clip-text text-primary text-3xl md:text-4xl lg:text-5xl">
          Conectando en tiempo real
        </b>
        con la Cultura, la Naturaleza y la Experiencia de Campo.
      </p>
    </div>
    <div class="col__filters w-full flex justify-center md:justify-end items-center">
      <transmisiones-filtros [eventos]="eventos()" (newDate)="onNewDateEvents($event)" />
    </div>

  </div>

  <transmisiones-eventos-proximos [eventos]="eventos()" />
  <transmisiones-eventos-pasados />
</section>

