<section>
  <shared-header />
  <div class="main__container w-full px-3 md:px-4 lg:px-6 relative">
    <router-outlet />
  </div>
  <shared-footer />
</section>

<!-- Botón flotante -->
@if (mostrarScrollTop) {
  <button
    (click)="scrollArriba()"
    class="fixed bottom-12 left-1/2 -translate-x-1/2 z-50 p-4 bg-black/70 text-white rounded-full shadow-lg hover:bg-black/90 transition-opacity duration-300 dark:bg-sage-100/70 dark:text-black dark:hover:bg-sage-100/90"
  >
    <div class="w-6 h-6 text-sage-100 dark:text-black -rotate-90" [innerHTML]="svgArrowUp()"></div>
  </button>
}


<!-- Flecha Scroll Down -->
@if (mostrarScrollDown) {
  <button
    (click)="scrollDown()"
    class="absolute bottom-8 left-[42%] md:left-[48%] animate-bounce z-50 bg-black/30 text-white p-3 rounded-full shadow-lg hover:bg-black transition-all dark:bg-sage-100/70 dark:text-black dark:hover:bg-sage-100/90"
    aria-label="Scroll hacia abajo"
  >
    <div class="w-8 h-8 rotate-90" [innerHTML]="svgArrowUp()"></div>
  </button>
}


<shared-toast />



