<footer class="bg-black shadow-sm dark:bg-black">
  <div class="w-full p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between">
          <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
            <img class="w-16 align-bottom" [src]="urlimageWhite" alt="logo eden-dusk" />
          </a>
          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-sage-100 sm:mb-0 dark:text-gray-400">
            @for (item of itemsMenu; track $index) {
              <li>
                <a [routerLink]="item.path" routerLinkActive="font-bold text-primary "
                class="capitalize hover:underline hover:text-primary me-4 md:me-6" >
                  {{ item.name }}
                </a>
              </li>
            }
          </ul>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

      <div class="px-4 py-6 flex flex-col md:flex-row items-center gap-4 md:gap-0 md:items-center md:justify-between">
        <span class="text-sm text-sage-100 sm:text-center">© {{ year }} <a [routerLink]="'/home'">Eden Dusk</a>. Todos los derechos reservados.
        </span>
        <div class="flex items-center justify-center space-x-6 rtl:space-x-reverse">
          <!-- Facebook -->
          <a href="http://www.facebook.com/edendusk" target="_blank" class="text-gray-500 hover:text-blue-600">
            <i class="fab fa-facebook-f text-2xl"></i>
          </a>
          <!-- Twitter -->
          <a href="http://www.twitter.com/edendusk" target="_blank" class="text-gray-500 hover:text-blue-400">
            <i class="fab fa-twitter text-2xl"></i>
          </a>
          <!-- Instagram -->
          <a href="http://www.instagram.com/edendusk" target="_blank" class="text-gray-500 hover:text-pink-500">
            <i class="fab fa-instagram text-2xl"></i>
          </a>
          <!-- Youtube -->
          <a href="http://www.youtube.com/edendusk" target="_blank" class="text-gray-500 hover:text-red-700">
            <i class="fab fa-youtube text-2xl"></i>
          </a>
          <!-- Tiktok -->
          <a href="http://www.tiktok.com/@edendusk" target="_blank" class="text-gray-500 hover:text-gray-700">
            <i class="fab fa-tiktok text-2xl"></i>
          </a>
        </div>
      </div>

  </div>
</footer>

