<div class="mt-8 flex flex-col items-center justify-center p-6 text-center border bg-gray-50 border-red-200  rounded-lg shadow-sm dark:bg-gray-800  ">
  <!-- Ícono de calendario -->
  <div class="w-16 h-16 mb-4 text-gray-400 dark:text-gray-500" [innerHTML]="iconCalendar()"></div>

  <!-- Texto de aviso -->
  <p class="text-lg font-semibold text-gray-600 dark:text-gray-300">No se encontraron resultados</p>
  <p class="text-sm text-gray-500 dark:text-gray-400">No hay datos disponibles para el período seleccionado.</p>
</div>
