<section class="my-8">
  <div class="mb-4 md:mb-10">
    <div class="text-2xl md:text-3xl lg:text-4xl  font-primary-bold text-center md:text-start flex items-end justify-center md:justify-start uppercase mb-4">
      <div [innerHTML]="svgArrow()" class="w-12 h-12 text-primary lg:w-12 lg:h-12 hidden md:flex md:mr-4"></div>
      Colecciones disponibles
    </div>
  </div>
  <div
    [ngClass]="{
      'grid-cols-1' : galleryGroups().length === 1,
      'grid-cols-2' : galleryGroups().length === 2,
      'grid-cols-1 md:grid-cols-3' : galleryGroups().length === 3,
      'grid-cols-2 md:grid-cols-4' : galleryGroups().length === 4
    }"
    class="grid gap-4"
  >
    @if (galleryGroups().length) {
      @for (group of galleryGroups(); track $index) {
        <div
          [ngClass]="{
            'md:grid-cols-3' : galleryGroups().length === 1
          }"
          class="grid justify-center gap-4"
        >
          @for (itemGallery of group; track $index) {
            <gallery-item-coleccion [itemGallery]="itemGallery" />
          }
        </div>
      }
    } @else {
      <shared-no-data [type]="'galeria'" [msg]="msg" />
    }
  </div>

</section>
