<div class="p-4 items-center grid">
  <div class="wrap__author flex items-center gap-2 mb-2">
    <img
      class="w-8 h-8 rounded-full"
      [src]="article().authorImage"
      [alt]="article().authorName"
      (error)="onImgError($event)"
    />
    <p class="text-sm font-secondary-medium"> {{ article().authorName }} </p>
  </div>
  <div class="wrap__article grid grid-cols-1 md:grid-cols-[75%_25%] gap-4 overflow-hidden">
    <div class="col__info order-2 md:order-1 ">
      <p class="text-2xl font-primary-bold"> {{ article().title }} </p>
      <p class="text-grays-500 line-clamp-3 mb-2">
        {{ article().smallDescription }}
      </p>
      <div class="flex items-center justify-start gap-3 flex-wrap text-xs font-normal mb-4">
        <span class="px-2.5 py-1 rounded-md border bg-black-100 dark:bg-transparent text-white dark:text-gray-400 dark:border-gray-400">
          {{ article().category }}
        </span>
        <time class="text-gray-500 dark:text-gray-400"> {{ article().date | dateMx }} </time>
      </div>
      <div class="actions text-end md:text-start">
        <button type="button" (click)="goTo(article().id)" class="inline-flex justify-center items-center  btn__outline--black">
          Ver más
          <div class="w-4 h-4 ms-2 flex" [innerHTML]="svgArrow()"></div>
        </button>
      </div>
    </div>
    <div class="col__image w-full h-64 md:h-auto bg-no-repeat bg-center bg-cover order-1 md:order-2 " [style.background-image]="article().imageUrl | backgroundImage"></div>
  </div>
</div>
