<section class="main__blog">
  <gallery-layout />
  <div class="wrapper__filtros mt-4">
    <gallery-filtros
      [categories]="categoriesList()"
      [collaborators]="collaboratorsList()"
      (filterChanged)="onFilterChanged($event)" />
  </div>
  <div class="wrapper__main">
    <gallery-coleccion [galleryGroups]="groupedGridGallery()" />
    <!-- PAGINATION -->
    <div class="mt-4">
      @if (imagesList().length > 0) {
        <pagination-controls
        id="paginator"
        class="text-right font-circular-regular"
        (maxSize)=10;
        (directionLinks)=true
        (pageChange)="page.set($event)"
        (autoHide)=true
        (responsive)=true
        previousLabel="Anterior"
        nextLabel="Siguiente"
        screenReaderPaginationLabel="Pagination"
        (pageChange)="pageChanged($event)"
        >
        </pagination-controls>
      }
    </div>
  </div>
</section>
