<section class="main__gallery my-32">
  <div class="relative text-center w-full md:w-3/4 md:mx-auto mb-12">
    <p class="font-primary-bold text-5xl md:text-6xl lg:text-7xl mb-4">
      Galería Fotográfica
    </p>
    <p class="font-primary-regular text-xl">
      Descubriendo la Belleza y la Cultura de Sinaloa
    </p>
    <div class="mt-6 text-start">
      <shared-dialog-help-float [titleMsg]="titleMsg" [descriptionMsg]="descriptionMsg"></shared-dialog-help-float>
    </div>
  </div>

  <div class="wrapper__filtros mt-4">
    <gallery-filtros
      [categories]="categoriesList()"
      [collaborators]="collaboratorsList()"
      (filterChanged)="onFilterChanged($event)" />
  </div>
  <div class="wrapper__main">
    <gallery-coleccion
    [galleryGroups]="groupedGridGallery()"
    [galleriesPerPage]="perPage()"
    [currencyPage]="page()"
    [totalGalleries]="totalItems()"
    />
    <!-- PAGINATION -->
    <div class="mt-4">
      @if (imagesList().length > 0) {
        <pagination-controls
        id="paginator"
        class="text-right font-circular-regular"
        (maxSize)=12;
        (directionLinks)=true
        (pageChange)="page.set($event)"
        (autoHide)=true
        (responsive)=true
        previousLabel="Anterior"
        nextLabel="Siguiente"
        screenReaderPaginationLabel="Pagination"
        (pageChange)="pageChanged($event)"
        >
        </pagination-controls>
      }
    </div>
  </div>
</section>
