::ng-deep .ngx-pagination {
  display: flex;
  gap: 0.25rem;
  justify-content: flex-end;
  @apply font-primary-regular;
  a {
    @apply text-gray-500;
  }
  li:not(:first-child):not(:last-child) a {
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    @apply text-white rounded-lg;

    &:hover {
      @apply bg-primary-500;
    }
  }
  li.pagination-previous a, li.pagination-next a {
    @apply text-white;
    &:hover {
      background-color: transparent !important;
      @apply text-primary-50;
    }
  }
  .current {
    background-color: #5C96F7 !important;
    border-radius: .5rem !important;
    padding: 1rem !important;
    height: 32px !important;
    width: 32px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    span {
      display: inline-block;
    }
  }
  .disabled {
    color: #6b7280 !important;
  }
}
