<section class="my-8">
  <div class="w-full">
    <div class="text-2xl md:text-3xl lg:text-4xl mb-4 md:mb-6 font-primary-bold text-center md:text-start flex items-end justify-center md:justify-start uppercase">
      <div [innerHTML]="svgArrow" class="w-12 h-12 text-primary lg:w-12 lg:h-12 hidden md:flex md:mr-4"></div>
      Línea del tiempo
    </div>

    <div class="w-full p-6 mb-8 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-black/50 dark:border-gray-700">
      <ol class="relative border-s border-gray-200 dark:border-gray-700 pl-2">
        @for (item of dataDummy; track $index; ; let last = $last) {
          <li class="mb-10 ms-6">
              <span class="absolute flex items-center justify-center w-8 h-8 -left-4 bg-primary-50 rounded-full -start-3 ring-8 ring-white dark:ring-transparent dark:bg-primary-300">
                <div class="w-4 h-4 text-primary-300 dark:text-primary-50" [innerHTML]="svgCalendar"></div>
              </span>
              <h3 class="flex items-center mb-1 text-lg md:text-xl font-primary-bold ">
                {{ item.title }}
                @if(last) {
                  <span class="bg-primary-50 text-primary-300 text-xs font-secondary-regular me-2 px-2 py-1.5 rounded-lg dark:bg-blue-900 dark:text-blue-300 ms-3">Último</span>
                }
              </h3>
              <time class="block mb-2 text-sm font-normal leading-none text-primary dark:text-gray-400">Released on January 13th, 2022</time>
              <p class="mb-4 text-base font-normal">{{ item.description }} </p>
              <button class="inline-flex items-center  btn__outline--black">
                Ver más detalles
              </button>
          </li>
        }
      </ol>
    </div>

  </div>


  <div class="section__whois rounded  bg-center bg-cover bg-no-repeat bg-[url('https://raw.githubusercontent.com/ChristianShumway/eden-dusk/refs/heads/master/src/assets/images/fotos/_NEL3202-min.jpg')] bg-gray-600 bg-blend-multiply">
    <div class="py-24 px-4 mx-auto max-w-screen-xl text-center lg:py-40 lg:px-8">
      <div class="wrap__info relative">
        <blockquote class="text-xl md:text-2xl text-sage-100 font-secondary-light italic mb-6 relative z-10">
          Comenzamos con una sola cámara y un sueño: <span class="font-secondary-medium"> capturar la belleza del universo para compartirla con el mundo. </span>
        </blockquote>

        <p class="mb-16 text-sage-100  text-xl tracking-tight leading-none relative z-10">
          - Eden Dusk
        </p>

        <div [innerHTML]="svgSemiColons" class="text-primary/60 w-64 h-64 semicolons__bg absolute"></div>
      </div>
    </div>
  </div>

</section>
