<div class="w-full flex flex-col justify-center items-center md:items-start gap-4">
  <p class="text-3xl md:text-4xl font-primary-bold">
    Contacto Directo
  </p>
  <a class="flex items-center justify-start gap-2" href="mailto:nestoreden@gmail.com">
    <i class="fas fa-envelope"></i>
    nestoreden&#64;gmail.com
  </a>
  <a class="flex items-center justify-start gap-2" href="tel:+52 668 172 4086">
    <i class="fas fa-phone"></i>
    +52 668 172 4086
  </a>
  <a class="flex items-center justify-start gap-2" href="https://www.google.com/maps/place/Los+Mochis,+Sinaloa,+México/@25.79154,-108.9924342,12z" target="_blank" >
    <i class="fas fa-location-dot"></i>
    Los Mochis, Sinaloa, México
  </a>

  <div class="mt-6">
    <p class="text-3xl md:text-4xl font-primary-bold">
      Siguenos en redes
    </p>
    <!-- Redes sociales / difusión -->
    <div class="flex justify-center items-center md:justify-start gap-6 text-gray-500 text-xl mt-4">
      <a href="https://facebook.com/edendusk" target="_blank" class="hover:text-primary">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://instagram.com/edendusk" target="_blank" class="hover:text-pink-500">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com/edendusk" target="_blank" class="hover:text-blue-400">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://tiktok.com/@edendusk" target="_blank" class="hover:text-gray-700">
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
  </div>

</div>
