<section class="py-8 w-full">

  <div class="text-center w-full md:w-3/4 md:mx-auto mb-16">
    <p class="text-5xl mb-4 font-primary-bold text-center">
      Colaboraciones y Alianzas
    </p>
    <p class="font-primary-regular text-xl">
      A lo largo de nuestra trayectoria hemos trabajado de la mano con instituciones, organizaciones de conservación, colectivos culturales y creadores independientes. Cada colaboración ha sido clave para documentar y difundir la riqueza ambiental y cultural de Sinaloa.
    </p>
  </div>

  <nosotros-filtros-colaboraciones [categories]="categorias()" (filterChanged)="onFilterChanged($event)" />

  @if(alianzas().length > 0) {
    <p class="my-8 text-sm text-right">Total de colaboraciones/alianzas encontradas: <b class="font-primary-bold"> {{ totalAlianzas() }} </b> </p>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      <div *ngFor="let item of alianzas()! | paginate:
        {
          id: 'paginator',
          itemsPerPage: perPage(),
          currentPage: page(),
          totalItems: totalAlianzas()
        }"
      >
        <img class="h-auto w-full max-w-full rounded-lg" [src]="item.imagen" [alt]="item.nombre" />
        <div class="mt-4 text-center">
          <p class="text-sm font-primary-bold">{{ item.nombre }}</p>
          <span class="text-xs">{{ item.descripcion }}</span>
        </div>
      </div>
    </div>
    <!-- PAGINATION COBERTURA -->
    <div class="mt-8">
      <pagination-controls
      id="paginator"
      class="text-right font-circular-regular"
      (maxSize)=10;
      (directionLinks)=true
      (pageChange)="page.set($event)"
      (autoHide)=true
      (responsive)=true
      previousLabel="Anterior"
      nextLabel="Siguiente"
      screenReaderPaginationLabel="Pagination"
      (pageChange)="pageChanged($event)"
      >
      </pagination-controls>
    </div>
  }@else {
    <shared-no-data [type]="'articulo'" [msg]="msg" />
  }

  <div class="text-center mt-24 mb-4">
    <!-- Mensaje emotivo -->
    <div class="max-w-3xl mx-auto mb-10">
      <p class="text-3xl md:text-4xl font-primary-bold">
        ¿Quieres colaborar con Eden Dusk?
      </p>
    </div>

    <!-- Botones de acción -->
    <div class="flex flex-wrap justify-center gap-4 mb-10">
      <button (click)="goToContacto()" type="button" class="btn__primary">
        Propón tu proyecto
      </button>
    </div>

  </div>


</section>
