<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  <div>
      <img class="rounded-t-lg" [src]="evento().imageUrl" [alt]="evento().title" />
  </div>
  <div class="p-5">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{ evento().title }} </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-2"> {{ evento().description }} </p>
      <div class="text-right">
        <button type="button" class="inline-flex items-center btn__primary--black">
            Ver ahora
            <div class="rtl:rotate-180 w-3.5 h-3.5 ms-2 flex"  [innerHTML]="svgIcon()"></div>
        </button>
      </div>
  </div>
</div>
