/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'f-thin';
    src: url('./assets/fonts/avenir-font/AvenirLTStd-Light.otf');
  }
  @font-face {
    font-family: 'f-regular';
    src: url('./assets/fonts/avenir-font/AvenirLTStd-Book.otf');
  }
  @font-face {
    font-family: 'f-medium';
    src: url('./assets/fonts/avenir-font/AvenirLTStd-Medium.otf');
  }
  @font-face {
    font-family: 'f-bold';
    src: url('./assets/fonts/avenir-font/AvenirLTStd-Black.otf');
  }
  @font-face {
    font-family: 's-light';
    src: url('./assets/fonts/opensans/OpenSans-Light.ttf');
  }
  @font-face {
    font-family: 's-regular';
    src: url('./assets/fonts/opensans/OpenSans-Regular.ttf');
  }
  @font-face {
    font-family: 's-medium';
    src: url('./assets/fonts/opensans/OpenSans-Medium.ttf');
  }
  @font-face {
    font-family: 's-bold';
    src: url('./assets/fonts/opensans/OpenSans-SemiBold.ttf');
  }
}

body {
  @apply font-primary-regular;
  @apply text-black dark:text-grays-200;
  @apply bg-gray-50 dark:bg-black-200;
}

p {
  @apply text-black text-base dark:text-grays-200;
}

button {
  @apply font-secondary-medium border rounded-lg text-sm px-5 py-3 text-center  cursor-pointer transition-colors duration-500;
}


::ng-deep .flatpickr-day.prevMonthDay,
::ng-deep .flatpickr-day.nextMonthDay {
  display: none !important;
}
