/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'c-regular';
    src: url('./assets/fonts/circular/Circular_Std_Book.ttf');
  }
  @font-face {
    font-family: 'c-medium';
    src: url('./assets/fonts/circular/Circular_Std_Medium.ttf');
  }
  @font-face {
    font-family: 'c-bold';
    src: url('./assets/fonts/circular/Circular_Std_Bold.ttf');
  }
  @font-face {
    font-family: 'static-regular';
    src: url('./assets/fonts/static/WixMadeforDisplay-Regular.ttf');
  }
  @font-face {
    font-family: 'static-medium';
    src: url('./assets/fonts/static/WixMadeforDisplay-Medium.ttf');
  }
  @font-face {
    font-family: 'static-bold';
    src: url('./assets/fonts/static/WixMadeforDisplay-Bold.ttf');
  }
}

body {
  @apply font-primary-regular;
  @apply text-black dark:text-grays-200;
  @apply bg-gray-50 dark:bg-gray-800;
}

p {
  @apply text-black text-base dark:text-grays-200;
}
