/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'f-thin';
    src: url('./assets/fonts/avenir-font/AvenirLTStd-Light.otf');
  }
  @font-face {
    font-family: 'f-regular';
    src: url('./assets/fonts/avenir-font/AvenirLTStd-Book.otf');
  }
  @font-face {
    font-family: 'f-medium';
    src: url('./assets/fonts/avenir-font/AvenirLTStd-Medium.otf');
  }
  @font-face {
    font-family: 'f-bold';
    src: url('./assets/fonts/avenir-font/AvenirLTStd-Black.otf');
  }
  @font-face {
    font-family: 's-light';
    src: url('./assets/fonts/opensans/OpenSans-Light.ttf');
  }
  @font-face {
    font-family: 's-regular';
    src: url('./assets/fonts/opensans/OpenSans-Regular.ttf');
  }
  @font-face {
    font-family: 's-medium';
    src: url('./assets/fonts/opensans/OpenSans-Medium.ttf');
  }
  @font-face {
    font-family: 's-bold';
    src: url('./assets/fonts/opensans/OpenSans-SemiBold.ttf');
  }
}

body {
  @apply font-primary-regular;
  @apply text-grays-100;
  @apply bg-black;
}

p {
  @apply text-grays-100 text-base;
}

button {
  @apply font-secondary-medium border rounded-lg text-sm px-5 py-3 text-center  cursor-pointer transition-colors duration-500;
}

button.btn__primary {
  @apply border-primary-200 bg-primary text-white hover:bg-primary-500 hover:border-primary-400;
  &--white {
    @apply bg-white text-black hover:bg-gray-100;
  }
  &--black {
    @apply border-black bg-black-100 text-white hover:bg-black dark:border-gray-200 dark:bg-white dark:text-black dark:hover:bg-gray-200;
    &.invalid {
      @apply  border-neutral-200 bg-neutral-200 text-gray-500 dark:border-neutral-600  dark:bg-neutral-700 dark:text-gray-200;
    }
  }
}

button.btn__outline--black {
  @apply border-black bg-transparent text-black hover:border-black-100 hover:bg-black-100 hover:text-white  dark:border-gray-200 dark:bg-white dark:focus:border-primary-200 dark:hover:bg-primary-50 dark:hover:text-primary-300;
}

button.btn__outline--white {
  @apply border-white bg-transparent text-white hover:bg-white hover:text-black;
}

button.btn__filter {
  @apply text-black bg-white hover:bg-gray-200  border-gray-200 focus:ring-2 focus:outline-none focus:ring-gray-100  dark:focus:ring-gray-600 dark:bg-transparent dark:border-white dark:text-white dark:hover:bg-gray-50 dark:hover:text-black;
  &--active {
    @apply border-black-100 bg-black text-white dark:bg-white dark:text-black;
  }

}


::ng-deep .flatpickr-day.prevMonthDay,
::ng-deep .flatpickr-day.nextMonthDay {
  display: none !important;
}

