<section class="main-articulo">
  <div class="wrapper__bg w-auto flex flex-col items-end justify-center gap-8 md:gap-4 pb-8 mb-8">
    <div class="bg__layout  bg-cover bg-no-repeat bg-center relative" [style.background-image]="article().imageUrl | backgroundImage"></div>
  </div>
  <div class="grid__blog grid grid-cols-1 lg:grid-cols-[3fr_1.5fr] gap-4 overflow-hidden">
    <div class="wrapper__main">
      <div class="text-2xl md:text-3xl lg:text-4xl mb-4 md:mb-8 font-primary-bold text-center md:text-start flex items-end justify-center md:justify-start uppercase">
        <div [innerHTML]="svgAngle()" class="w-12 h-12 text-primary lg:w-12 lg:h-12 hidden md:flex md:mr-4"></div>
        {{ article().title }}
      </div>
      <div class="text-grays-500 line-clamp-3 mb-2 prose max-w-none" [innerHTML]="descriptionHtml()"></div>
      <div class="relative h-32">
        <shared-socialmedia />
      </div>

      <div class="wrap__comentarios">

        <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
          <ul class="flex flex-wrap -mb-px">
            <li class="me-2">
              <a (click)="selectTab('leer')"
                [ngClass]="{
                  'text-black font-bold border-black dark:text-white dark:border-white': selectedTab === 'leer',
                  ' cursor-pointer border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300': selectedTab !== 'leer'
                }"
                class="inline-block p-4 border-b-2">
                Leer comentarios
              </a>
            </li>
            <li class="me-2">
              <a (click)="selectTab('agregar')"
                [ngClass]="{
                  'text-black font-bold border-black dark:text-white dark:border-white': selectedTab === 'agregar',
                  'cursor-pointer border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300': selectedTab !== 'agregar'
                }"
                class="inline-block p-4 border-b-2">
                Agregar comentario
              </a>
            </li>
          </ul>
        </div>

        <div class="my-4 px-4">
          @if (selectedTab === 'leer') {
            <blog-comentarios [comments]="article().comments" />
          } @else {
            <blog-agregar-comentario [idPost]="article().id" />
          }
        </div>


      </div>

    </div>


    <blog-feed-destacados [articles]="highLights()" [title]="titleFeed" />
  </div>

</section>

