<section class="main__blog">
  <videoteca-layout />
  <videoteca-filtros [categories]="categoriesList()" (filterChanged)="onFilterChanged($event)" />
  <div class="grid__blog grid grid-cols-1 gap-4 overflow-hidden">
    <div class="wrapper__main">
      <!-- <blog-feed-articulos
        [articles]="articles()"
        [articlesPerPage]="perPage()"
        [currencyPage]="page()"
        [totalArticles]="totalArticles()"
      /> -->
      <!-- PAGINATION -->
      <div class="mt-4">
        <pagination-controls
        *ngIf="videoList().length > 0"
        id="paginator"
        class="text-right font-circular-regular"
        (maxSize)=10;
        (directionLinks)=true
        (pageChange)="page.set($event)"
        (autoHide)=true
        (responsive)=true
        previousLabel="Anterior"
        nextLabel="Siguiente"
        screenReaderPaginationLabel="Pagination"
        (pageChange)="pageChanged($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</section>
