<div class="wrapper__layout w-auto  h-screen flex flex-col items-start justify-center gap-8 md:gap-12">
  <div class="bg__layout h-screen bg-cover bg-no-repeat bg-center relative" [style.background-image]="urlImageBackground | backgroundImage"></div>
  <div class="col__info mb-4 md:mb-0 w-full text-center">
    <p class="font-primary-bold text-5xl md:text-5xl lg:text-6xl mb-2">
      {{ data()?.titulo }}
    </p>
    <p class="font-primary-regular text-2xl md:text-3xl lg:text-4xl">
      {{ data()?.subtitulo }}
    </p>
  </div>
  <div class="col__actions w-4/5 mx-auto my-0 flex justify-center items-center gap-5 flex-col md:w-full md:flex-row">
    <button (click)="goToGallery()" type="button" class="w-full md:w-auto btn__primary--white">
      {{ data()?.boton?.texto }}
    </button>
  </div>
  @if (imagesList().length > 4) {
    <div class="relative w-full h-40 md:h-48 z-10">
      <div class="col__items w-full grid gap-4 md:gap-8 grid-cols-1 md:grid-cols-3 mb-4">
        @for (item of imagesList(); track $index) {
          <div
            (click)="goToDetail(item)"
            class="item__layout w-full p-4 relative border-2 overflow-hidden cursor-pointer border-grays-100 rounded-xl shadow-sm dark:bg-gray-800"
            onkeypress
          >
            <span class="absolute top-4 right-4 text-white font-primary-thin font-primary bg-primary-50 p-1.5 rounded-lg text-sm text-right"> {{ item.category }} </span>
            <span class="absolute bottom-10 right-6 text-white font-primary-bold font-primary text-xl lg:text-2xl text-right"> {{ item.name }} </span>
            <div class="absolute bottom-4 right-6 flex items-center gap-1.5 text-white font-primary-thin font-primary text-sm lg:text-base text-right">
              <div [innerHTML]="iconUser()" class="w-4 h-4 flex items-center"></div>
              {{ item.collaborator }}
            </div>
            <div class="layout__imagebg bg-cover bg-no-repeat bg-center absolute top-0 right-0 bottom-0 left-0 " [style.background-image]="item.sourceUrl | backgroundImage"></div>
          </div>
        }
      </div>
    </div>
  }
</div>

