<home-layout [imagesList]="imagesList()" [data]="seccionesHome().secciones?.hero" />
<home-quien-es-eden-dusk [data]="seccionesHome().secciones?.sobreNosotros" />
<home-preview-portfolio />
<home-preview-store [products]="productList()" [data]="seccionesHome().secciones?.sumate" />
<home-novedades />
<div class="mb-8 md:mb-16 grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-2">
  <home-eventos-transmisiones [proximoEventos]="eventos()" [eventosPasados]="eventosPasados()" />
  <home-news-letter />
</div>
