<form [formGroup]="form" (submit)="sendEmail()">
  <div class="flex">
    <div class="relative w-full flex gap-2 items-center">
      <input
        type="email"
        formControlName = "email"
        class="block p-3 w-full z-20 rounded-e-md rounded-s-gray-100 rounded-s-2 rounded-l-md bg-black-100 border-grays-100 placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-white"
        placeholder="Ingresa tu correo electrónico" />
      <button
        type="submit"
        class="p-3 h-full btn__primary">
        Suscribirse
      </button>
    </div>
  </div>
  @if (validField('email')) {
    <div class="w-full text-left mt-2">
      <span class="text-xs text-red-600 font-primary-thin ">
        {{ getErrorField('email') }}
      </span>
    </div>
  }
</form>
